---
import GridCell from '../components/GridCell.astro'
import Layout from '../layouts/Layout.astro'

import { photos } from '../photos'
---

<Layout title="Cesal Design">
  <main>
    <div class="grid grid--large">
      <div class="grid__cell grid__cell--padded">
        <div class="frame">
          <h1 class="frame__title oh">
            <img src="public/Full-Color-Logotype.png" style="width: 100%; margin-left: -15px; margin-bottom: -20px;">
          </h1>
          <nav class="frame__links">
            <div>
              A multi-disciplinary designer, Talia has been involved in the creative industry since age 15. Now with a Bachelor of Design and UX certificate, she is looking to expand her experience in branding and web/user experience, with a special interest in AI assisted design. 
            </div>
            <div style="padding-top:40px;"><a href="https://www.figma.com/proto/VRl0KtUsFVh2U7C4g4dCxl/Talia-Cesal-UX-Portfolio?type=design&node-id=539-132&t=WdpsmTn5hSF0P0aJ-1&scaling=contain&page-id=539%3A131&starting-point-node-id=539%3A132&mode=design">UX Design Portfolio</a></div>
            <div style="padding-top:15px;"><a href="https://github.com/tglass3">Web Design Portfolio</a></div>
            <div style="padding-top:15px;"><a href="https://cesal-design.netlify.app/">Business Card</a></div>

            <div style="font-size: small; padding-top: 40px;">
              Source code by
              <a
              href="https://github.com/Charca/astro-photo-gallery"
              class="oh"
              target="_blank"
              rel="noopener"><span class="oh__inner"> Charca</span></a
            ></div>
            <div style="font-size: small">
              Original demo by <a
                href="https://twitter.com/codrops"
                class="oh"
                target="_blank"
                rel="noopener"><span class="oh__inner">@codrops</span></a
              >
            </div>
          </nav>
        </div>
      </div>
      {
        photos.map((photo, index) => (
          <GridCell photo={photo} photoIndex={index} />
        ))
      }
    </div>
  </main>
</Layout>
